<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  </head>
<body>
  <div class="container">
    <div class="navbar" role="navigation">
      {% if gate.loginid %}
      <form action="{% url 'celauth:logout' %}" method="post" role="form" class="navbar-form navbar-right">
        <input type="submit" value="Log out" class="btn btn-xs"/>
        {% csrf_token %}
      </form>
      {% endif %}
    </div>
  {% block content %}
  {% endblock %}
  </div>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</body>
</html>
