<html>
<body>

{% if account %}

<h1>Account {{ account }}</h1>
<form action="{% url 'celauth:logout' %}" method="post">
<input type="submit" value="Log out"/>
{% csrf_token %}
</form>

{% else %}

<h1>No Account</h1>
<a href="{% url 'celauth:login' %}">Log in</a>

{% endif %}

{% if addresses_pending %}

<h2>Email addressess pending confirmation</h2>
<ul>
{{ addresses_pending | unordered_list }}
</ul>

<form action="{% url 'celauth:disclaim' %}" method="post">
<input type="submit" value="Cancel pending addresses" />
{% if next_url %}
<input type="hidden" name="{{ next_name }}" value="{{ next_url }}"/>
{% endif %}
{% csrf_token %}
</form>

{% endif %}

{% if addresses_confirmed %}
<h2>Confirmed email addressess</h2>
<ul>
{{ addresses_confirmed | unordered_list }}
</ul>
{% endif %}

</body>
</html>
