{% extends 'celauth/base.html' %}
{% block content %}

<h2>Enter your email confirmation code:</h2>
<form action="{% url 'celauth:confirm_email' '' %}" method="post">
{{ fields }}
<input type="submit" value="Submit" />
{% if next_url %}
<input type="hidden" name="{{ next_name }}" value="{{ next_url }}"/>
{% endif %}
{% csrf_token %}
</form>

{% if addresses_pending %}

<h2>Email addressess pending confirmation:</h2>
<ul>
{{ addresses_pending | unordered_list }}
</ul>

<form action="{% url 'celauth:disclaim' %}" method="post">
<input type="submit" value="Cancel pending addresses" />
{% if next_url %}
<input type="hidden" name="{{ next_name }}" value="{{ next_url }}"/>
{% endif %}
{% csrf_token %}
</form>

{% endif %}

{% endblock content %}
