{% extends 'celauth/base.html' %}
{% block content %}

<h2>Enter your email confirmation code:</h2>
<p>
<form action="{% url 'celauth:confirm_email' '' %}" method="post">
{{ fields.as_p }}
<input type="submit" value="Confirm" class="btn btn-primary" />
{% if next_url %}
<input type="hidden" name="{{ next_name }}" value="{{ next_url }}"/>
{% endif %}
{% csrf_token %}
</form>
</p>

{% if addresses_pending %}
<h4>Email addressess pending confirmation</h4>
<p>
  <ul>
  {{ addresses_pending | unordered_list }}
  </ul>
</p>
<p>
  <form action="{% url 'celauth:disclaim' %}" method="post">
  <input type="submit" value="Cancel pending addresses" class="btn btn-default"/>
  {% if next_url %}
  <input type="hidden" name="{{ next_name }}" value="{{ next_url }}"/>
  {% endif %}
  {% csrf_token %}
  </form>
</p>
{% endif %}

{% endblock content %}
