{% extends 'celauth/base.html' %}
{% block content %}

{% if check_email_msg %}
<p class="alert alert-info">
<strong>Check your email for your confirmation code.</strong>
Your confirmation email message might get misdirected to your spam folder.
</p>
{% endif %}

{% if gate.loginid %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Enter your email confirmation code:</h2>
  </div>
  <div class="panel-body">
    <form action="{% url 'celauth:confirm_email' '' %}" method="post" class="form-inline">
      {% if form.non_field_errors %}
      <div class="alert alert-danger">{{ form.non_field_errors }}</div>
      {% endif %}
      {% if form.code.errors %}
      <div class="alert alert-danger">{{ form.code.errors }}</div>
      {% endif %}
      <div class="form-group">
        <label for="id_code" class="sr-only">Confirmation code:</label>
        <input id="id_code" name="code" type="text" class="form-control" placeholder="Confirmation code"/>
      </div>
      <input type="submit" value="Confirm" class="btn btn-primary" />
      {% if next_url %}
      <input type="hidden" name="{{ next_name }}" value="{{ next_url }}"/>
      {% endif %}
      {% csrf_token %}
    </form>
  </div>
</div>
{% else %}
<p class="alert alert-warning">
  You need to log in or register to confirm your email address. Please log
  in or register using a suggested external account.
</p>
<form action="{% url 'celauth:login' %}" method="post">
{% csrf_token %}
{% if next_url %}
<input type="hidden" name="{{ next_name }}" value="{{ next_url }}"/>
{% endif %}
{% include "celauth/login_prompt.html" %}
</form>
{% endif %}

{% include "celauth/list_addresses.html" %}

{% endblock content %}
