{% extends 'celauth/base.html' %}
{% block content %}

<h2>You have an existing account for your email addresses:</h2>
<ul>
{{ addresses | unordered_list }}
</ul>

<p>Log in to your existing account to grant the current login access.</p>

<form action="{% url 'celauth:login' %}" method="post">
{% csrf_token %}
{% if next_url %}
<input type="hidden" name="{{ next_name }}" value="{{ next_url }}"/>
{% endif %}

{% include "celauth/login_prompt.html" %}

</form>

<h4>Or, log out.</h4>
<p>
<form action="{% url 'celauth:logout' %}" method="post">
<input type="submit" value="Log out" class="btn btn-default"/>
{% csrf_token %}
</form>
</p>

{% endblock content %}
