{% if openid_url_field %}
<div class="panel panel-default">
  <div class="panel-heading"><h2 class="panel-title">Login using any OpenID:</h2></div>
  <div class="panel-body">
    {{ openid_url_field }}
    <input class="btn btn-primary" type="submit" name="{{ login_button_name }}" value="Log in" />
  </div>
</div>
{% endif %}
<div class="panel panel-default">
  <div class="panel-heading"><h2 class="panel-title">Login or register</h2></div>
  <div class="panel-body">
    <div class="row">
    {% for button_name, button_text in choices %}
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <button class="thumbnail btn-block" type="submit" name="{{ button_name }}">
            <div class="icon-login icon-{{ button_name }}"></div>
            <div class="login-hint">Log in with</div>
            <div class="btn btn-primary btn-block btn-login">{{ button_text }}</div>
          </button>
        </div>
    {% endfor %}
    {% if not openid_url_field %}
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <button class="thumbnail btn-block" type="submit">
            <div class="icon-login icon-login-any-openid"></div>
            <div class="login-hint">Log in with</div>
            <div class="btn btn-primary btn-block btn-login">Any OpenID</div>
          </button>
        </div>
    {% endif %}
    </div>
  </div>
</div>
